@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    width: 100%;
    margin: 0 auto;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 30% auto;
}

.logo {
    min-width: 320px;
    display: flex;
    justify-content: flex-start;
}

.navigation {
    min-width: 320px;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "mainContent subContent"
}

#featured-film {
    grid-area: mainContent;

}

#featured-film img {
    width: 200px;
    height: 70%;
}

body {
    background-color: #3650a1;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

#verwacht {
    grid-area: subContent;
    background-color: #0f152a;
}

#verwacht h4{
    color: #3e6c8a;
}

#verwacht h3, #verwacht span {
    color: #ab9142;
}

#verwacht h3 {
    font-size: 26px;
}
/* EXTRA SMALL SCREENS */
@media screen and (max-width:576px){
    body {
        background-color: purple;
    }
    
    .nav-wrapper {
        grid-template-columns: 100%;
        grid-template-areas: 
            "logo"
            "navigation";
    }
    
    .logo {
        grid-area: logo;
        justify-content: center;
    }
    
    .navigation {
        grid-area: navigation;
        flex-direction: column;
        justify-content: center;
        line-height: 2;
    }
}

/*SMALL SCREENS*/
@media screen and (min-width: 577px) and (max-width:768px){
    body {
        background-color: red;
    }
    
    .nav-wrapper {
        grid-template-columns: 100%;
        grid-template-areas: 
            "logo"
            "navigation";
    }
    
    .logo {
        grid-area: logo;
        justify-content: center;
    }
    
    .navigation {
        grid-area: navigation;
    }
}

/* MEDIUM SCREENS */
@media screen and (min-width: 769px) and (max-width: 992px){
    body {
        background-color: green;
    }
}

/* LARGE SCREENS */
@media screen and (min-width: 993px) and (max-width: 1200px){
    body {
        background-color: yellow;
    }
}
