@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    width: 100%;
    margin: 0 auto;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 30% auto;
}

.logo {
    min-width: 320px;
    display: flex;
    justify-content: flex-start;
}

.navigation {
    min-width: 320px;
    max-width: 100%;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "mainContent subContent"
}

#featured-film {
    grid-area: mainContent;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#featured-film img {
    width: 200px;
    height: 300px;
    padding: 20px;
}

body {
    background-color: #3650a1;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
    padding-right: 30px;
    font-family: 'Old Standard TT', serif;
}

#verwacht {
    grid-area: subContent;
    max-width: 500px;
    background-color: #0f152a;
    display:flex;
    flex-direction: column;
}

#verwacht h4{
    color: #3e6c8a;
    margin-left: 20px;
    margin-bottom: -2px;
    font-size: 20px;
    
}

#verwacht h3, #verwacht span {
    color: #ab9142;
    font-family: 'Slabo 27px', serif;
    margin-left: 20px;
}

#verwacht h3 {
    font-size: 28px;
}

#verwacht span {
    font-size: 16px;
    font-weight: bold;
}

/* EXTRA SMALL SCREENS */
@media screen and (max-width:576px){
  
    .nav-wrapper {
        grid-template-columns: 100%;
        grid-template-areas: 
            "logo"
            "navigation";
    }
    
    .logo {
        grid-area: logo;
        justify-content: center;
    }
    
    .navigation {
        grid-area: navigation;
        flex-direction: column;
        justify-content: center;
        line-height: 2;
    }
}

/*SMALL SCREENS*/
@media screen and (min-width: 577px) and (max-width:768px){
    
    .nav-wrapper {
        grid-template-columns: 100%;
        grid-template-areas: 
            "logo"
            "navigation";
    }
    
    .logo {
        grid-area: logo;
        justify-content: center;
    }
    
    .navigation {
        grid-area: navigation;
    }
    
}


/* MEDIUM SCREENS */
@media screen and (min-width: 769px) and (max-width: 992px){
    body {
        background-color: green;
    }
    
    
}


/* LARGE SCREENS */
@media screen and (min-width: 993px) and (max-width: 1200px){
    body {
        background-color: yellow;
    }
    
}
